html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto Mono', monospace !important;
  background : #0f0f0f !important;
  color: #fff !important;
}

.whitespace{
  width: 100%;
  height: 100%;
}

@media(max-width: 768px){
  .whitespace{
    display: none;
  }
}

nav {
      width: 100%;
      background: #0f0f0f;
      height: 80px;
      position: fixed;
      z-index: 1;
      text-decoration: none
}

nav #brand {
      float: left;
      display: block;
      margin-left: 82px;
      line-height: 80px;
      font-weight: bold;
}

nav #brand a {
      color: #44E344;
      transition: all 0.3s ease-out;
      text-decoration: none
}

nav #brand a:hover {
      text-decoration: none;
}

nav #menu {
      float: left;
      right: 80px;
      position: fixed;
}

nav #menu li {
      padding-left: 40px;
      display: inline-block;
      cursor: pointer;
      font-weight: 300;
      line-height: 80px;
      position: relative;
      transition: all 0.3s ease-out;
}

nav #menu li span {
      font-weight: 700;
}

nav #menu li a {
      color: #44E344;
      text-decoration: none
}

nav #menu li a:hover {
      text-decoration: none;
}

#toggle {
      position: absolute;
      right: 30px;
      top: 20px;
      font-weight: 300;
      z-index: 2;
      width: 30px;
      height: 30px;
      cursor: pointer;
      float: right;
      transition: all 0s ease-out;
      visibility: hidden;
      opacity: 0;
}

.close-btn {
      position: absolute;
      right: 16px;
      font-weight: 300;
      z-index: 2;
      cursor: pointer;
      top: -2px;
      line-height: 80px;
}

#resize {
      z-index: 1;
      top: 0px;
      position: fixed;
      background: #0f0f0f;
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s ease-out; /* transition entre le menu et l'accueil */
}

#resize #menu {
      height: 90px;
      position: absolute;
      left: 45%;
      transform: translateX(-40%);
      text-align: center;
      display: table-cell;
      vertical-align: center;
}

#resize #menu li {
      display: block;
      text-align: center;
      padding: 10px 0;
      font-size: 50px;
      min-height: 50px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.2s ease-out;
}

#resize li:nth-child(1) {
      margin-top: 140px;
}

#resize #menu li a {
      color: #44E344;
}

#resize #menu li a:hover {
      text-decoration: none;
}

#resize.active {
      visibility: visible;
      opacity: 1;
}

@media(max-width: 768px) {
      #toggle {
            visibility: visible;
            opacity: 1;
            margin-top: 6px;
            margin-right: 4px;
      }

      nav #brand {
            margin-left: 24px;
      }

      #menu a {
            font-size: 20px;
            font-weight: 300;
      }

      #resize li span {
            font-weight: bolder;
      }

      nav #menu {
            display: none;
      }
}

@media(min-width: 768px) {
      #resize {
            visibility: hidden !important;
      }
}

.contact-me{
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

.contact-me:hover{
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

#address a{
  color: #44E344;
}

.collab {
  text-align: right;
}

.collab p {
  font-weight: lighter !important;
  margin-bottom: 20px;
}

.hr{
  background: rgba(255, 255, 255, 0.2);
  height: 1px;
}

.info a{
  font-size: 18px;
  font-weight: lighter;
  color: #fff;
  text-decoration: none;
}

.info a:hover{
  font-size: 18px;
  font-weight: lighter;
  color: #fff;
  text-decoration: none;
}


.info p{
  color: grey;
  font-weight: lighter;
}

.info li{
  font-weight: lighter;
  color: #fff;
  font-size: 18px;
  padding-left: 20px;
}

#fb::before{
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #3b5998;
}

#ig::before{
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #00b22d;
}

#tw::before{
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #55acee;
}

#yt::before{
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #002dff;
}

#toggle .span{
  color: #44E344;
}

#resize .close-btn{
  color: #44E344;
}

#media, #address{
  text-align: right;
}

#media ul a{
  list-style: none;
  color: #44E344;
}

#address a{
  color: #44E344;
}

#media ul li{
  display: inline-block;
}

@media(max-width: 768px){
  .collab, #personal, #media, #address{
    text-align: center;
  }

  .info ul{
    margin: 0 0 0 -22px;
    padding: 0;
  }
}

.col-lg-4 a{
  color: #44E344;
}

.col-lg-4 a:hover{
  color: #44E344;
}

/* EFFETS */

.hover-this:hover{
  animation: glitch-anim 0.2s infinite;
}

.glitch-2 {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;


  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

  animation: glitch-anim 500ms infinite;
}

.glitch-2 span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch-2 span:first-child {
  animation: glitch-anim 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  /* color: green; */
  opacity: 0.8;
}

.glitch-2 span:last-child {
  animation: glitch-anim 375ms infinite;
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  /* color: red; */
  opacity: 0.8;
}

/* https://web.dev/prefers-reduced-motion/#(bonus)-forcing-reduced-motion-on-all-websites */

@keyframes glitch-anim {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

/* -- ecriture -- */

#writing{
  position: absolute;
  padding-left: 50px;
  font-size: 25px;
  color: #fff;
}

.titre{
  font-size: 36px;
  color: #F30EF3;
  font-weight: bolder;
}

.shopify{
  color: #95bf47;
}

.papa{
  color: #ADD8E6;
}

.mama{
  color: #FFB6C1;
}

.original{
  color: red;
}

.htmlcouleur{
  color: #e34c26;
}

.csscouleur{
  color: #264de4;
}

.fr{
  color: #0055A4;
}

.ch{
  color: #EF4135;
}

#writing a,
#writing a:hover{
  color: #fff;
  text-decoration: none;
  font-weight: bolder;
}

ins, del{
  text-decoration: none;
}

s{
  display: none;
}

kbd{
  font-family: inherit;
}

.separateur{
  margin-top: 1200px;
}

@media(max-width: 768px){
  .separateur{
    margin-top: 2900px;
  }
}

.cyber-btn-link{
  --primary: hsl(56, 98%, 52%);
  --shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
  --primary-hue: 0;
  --primary-lightness: 50;
  --color: hsl(0, 100%, 0%);
  --font-size: 13px;
  --shadow-primary-hue: 180;
  --label-size: 9px;
  --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
  --clip: polygon(
    0 0,
    100% 0,
    100% 100%,
    95% 100%,
    85% 100%,
    8% 100%,
    0 70%
    );
  --border: 4px;
  --shimmy-distance: 5;
  --clip-one: polygon(
    0 2%,
    100% 2%,
    100% 95%,
    95% 95%,
    95% 90%,
    85% 90%,
    85% 95%,
    8% 95%,
    0 70%
    );
  --clip-two: polygon(
    0 78%,
    100% 78%,
    100% 100%,
    95% 100%,
    95% 90%,
    85% 90%,
    85% 100%,
    8% 100%,
    0 78%
    );
  --clip-three: polygon(
    0 44%,
    100% 44%,
    100% 54%,
    95% 54%,
    95% 54%,
    85% 54%,
    85% 54%,
    8% 54%,
    0% 54%
    );
  --clip-four: polygon(
    0 0,
    100% 0,
    100% 0,
    95% 0,
    95% 0,
    85% 0,
    85% 0,
    8% 0,
    0 0
    );
  --clip-five: polygon(
    0 0,
    100% 0,
    100% 0,
    95% 0,
    95% 0,
    85% 0,
    85% 0,
    8% 0,
    0 0
    );
  --clip-six: polygon(
    0 40%,
    100% 40%,
    100% 85%,
    95% 85%,
    95% 85%,
    85% 85%,
    85% 85%,
    8% 85%,
    0 70%
    );
  --clip-seven: polygon(
    0 63%,
    100% 63%,
    100% 80%,
    95% 80%,
    95% 80%,
    85% 80%,
    85% 80%,
    8% 80%,
    0 70%
    );
  font-family: 'Orbitron', sans-serif;
  color: var(--color);
  cursor: pointer;
  background: transparent;
  text-transform: uppercase;
  font-size: var(--font-size);
  outline: transparent;
  letter-spacing: 2px;
  position: relative;
  font-weight: 700;
  border: 0;
  min-width: 10px;
  height: 30px;
  line-height: 30px;
  transition: background 0.2s;
}

.cyber-btn-link:hover{
  --primary: hsl(56, 98%, 40%);
}

.cyber-btn-link:active{
  --primary:hsl(
    var(--primary-hue),
    85%,
    calc(var(--primary-lightness, 50)* 0.6%)
    );
}


.cyber-btn-link:after,
.cyber-btn-link:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: var(--clip);
  z-index: -1;
}

.cyber-btn-link:before{
  background: var(--shadow-primary);
  transform: translate(var(--border), 0);
}

.cyber-btn-link:after{
  background: var(--primary);
}

.cyber-glitch{
  position: absolute;
  top: calc(var(--border)* -1);
  left: calc(var(--border)* -1);
  right: calc(var(--border)* -1);
  bottom: calc(var(--border)* -1);
  background: var(--shadow-primary);
  text-shadow: 2px 2px var(--shadow-primary),
              -2px -2px var(--shadow-primary);
  clip-path: var(--clip);
  animation: btn-glitch 2s infinite;
  display: none;
}

.cyber-btn-link:hover .cyber-glitch{
  display: block;
}

.cyber-glitch:before{
  content: "";
  position: absolute;
  top: calc(var(--border) *1);
  left: calc(var(--border) *1);
  bottom: calc(var(--border) *1);
  right: calc(var(--border) *1);
  clip-path: var(--clip);
  background: var(--primary);
  z-index: -1;
}

@keyframes btn-glitch{
  0%{
    clip-path: var(--clip-one);
  }
  2%,
  8%{
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  6%{
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  9%{
    clip-path: var(--clip-two);
    transform: translate(0, 0);
  }
  9%{
    clip-path: var(--clip-three);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  10%{
    clip-path: var(--clip-three);
    transform: translate(0,0);
  }
  14%,
  21%{
    clip-path: var(--clip-four);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  25%{
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  30%{
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  35%,
  45%{
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  40%{
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  50%{
    clip-path: var(--clip-six);
    transform: translate(0, 0);
  }
  55%{
    clip-path: var(--clip-seven);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  60%{
    clip-path: var(--clip-seven);
    transform: translate(0, 0);
  }
  31%,
  61%,
  100%{
    clip-path: var(--clip-four);
  }
}

.cyber-btn-link:nth-of-type(2){
  --primary-hue: 260;
}